/* Navbar */
.upper-navbar {
    height: 400px;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.upper-navbar-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.upper-navbar-left > h1 {
    margin: 0;
    font-size: 70px;
    margin-bottom: 20px;
    box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.4);
}

.upper-navbar-left > h3 {
    margin: 0;
    font-size: 20px;
}

.upper-navbar-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-navbar-right > img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.4);
}

h1, h3 {
    color: white;
}

/* General para todos los componentes */
.info {
display: flex;
flex-direction: column;
align-items: center;
}


/* Componente about me */

.info-aboutme {
    width: 100%;
    height: 300px;
    background-color: rgb(56, 28, 74);
    padding: 50px 0;
}

.info-aboutme > h2 {
    color: white;
}

.info > h2 {
    font-size: 40px;
}

/* Componente skills*/
.info-skills {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 50px 0;

}

.tarjetas-skills {
    height: auto;
    display: flex;
    flex-direction: row;
}

.tarjeta {
    height: auto;
    width: 250px;
    background-color: rgb(255, 212, 3);
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}