.upper-navbar {
    height: 350px;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.upper-navbar-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.upper-navbar-left > h1 {
    margin: 0;
    font-size: 60px;
    margin-bottom: 20px;
}

.upper-navbar-left > h3 {
    margin: 0;
    font-size: 20px;
}

.upper-navbar-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-navbar-right > img {
    width: 250px;
    height: 250px;
    border-radius: 200px;
}

h1, h3 {
    color: white;
}
